<div class="field-summary-rating">
    <div class="rating-box">
        <div class="rating" data-bind="style: {'width': getPercent($row) + '%'}"></div>
<!--        <div class="rating" style="width: 80%;"></div>-->
    </div>
</div>