<!--<div class="admin__field-control" >-->
<!--    <input type="radio" name="ratings[4]" id="vote me_5" value="20" aria-required="true">-->
<!--    <label for="vote me_5" style="color: rgb(204, 204, 204);">★</label>-->
<!--    <input type="radio" name="ratings[4]" id="vote me_4" value="19" checked="checked" style="color: rgb(51, 51, 51);" aria-required="true">-->
<!--    <label for="vote me_4" style="color: rgb(51, 51, 51);">★</label>-->
<!--    <input type="radio" name="ratings[4]" id="vote me_3" value="18" aria-required="true">-->
<!--    <label for="vote me_3" style="color: rgb(51, 51, 51);">★</label>-->
<!--    <input type="radio" name="ratings[4]" id="vote me_2" value="17" aria-required="true">-->
<!--    <label for="vote me_2" style="color: rgb(51, 51, 51);">★</label>-->
<!--    <input type="radio" name="ratings[4]" id="vote me_1" value="16" aria-required="true">-->
<!--    <label for="vote me_1" style="color: rgb(51, 51, 51);">★</label>-->
<!--</div>-->
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<span class="admin__field-value"
      data-bind="
        text: value,
        attr: {
            name: inputName,
            id: uid
    }"/>
